*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body{
	font-family: arial helveltic sans-serif;
	background: black;
	color: grey;
	/* color: grey; */
}

.top{
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
}

.top-first{
	background: gray;
	color: white;
	border: 1px solid whitesmoke;
	border-radius: 2px;
	padding: 5px;

}

.second img{
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	display: block;
	border-radius: 5px;
	margin-bottom: 30px;

}

.last{
	margin-top: 30px;
	display: flex;
	padding: 20px;
	margin: 15px
}


.last h2{
	color: white;
}

.last p{
	margin-top: 10px;
}